<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Collector</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <div class="profile-update-container">
      <div class="profile-update">
        <h2>Update Collector Information</h2>
        <form action="/admin/update" method="POST" enctype="multipart/form-data">
          <label for="profilePicture">Profile Picture:</label>
          <input type="file" id="profilePicture" name="profilePicture" accept="image/png, image/jpeg">

          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" value="<%= users.firstname %>" required>

          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" value="<%= users.lastname %>" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= users.email %>" required>

          <label for="date">Date:</label>
          <input type="date" id="date" name="date" value="<%= users.date %>" required>

          <input type="hidden" name="collectorId" value="<%= users._id %>">
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>