<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CleanCity - Users</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="user-container">
    <% for (let index = 0; index < allUsers.length; index++) { %>
        <div class="user-card">
            <p><strong>First Name:</strong> <%= allUsers[index].firstname %></p>
            <p><strong>Last Name:</strong> <%= allUsers[index].lastname %></p>
            <p><strong>Email:</strong> <%= allUsers[index].email %></p>
            <p><strong>Date of Birth:</strong> <%= new Date(allUsers[index].date).toLocaleDateString('en-US') %></p>
            <hr>
        </div>
    <% } %>
  </div>
</body>
</html>`