<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <style>
    body
    {
      background-color: #ebf4ff;
    }
    .profile-container {
      max-width: 900px;
      margin: 20px auto;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .profile-picture {
      flex-shrink: 0;
      margin-right: 20px;
    }

    .profile-picture img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    .profile-info h1 {
      margin: 0;
      font-size: 28px;
      color: #333;
      font-family:Arial, Helvetica, sans-serif;
    }

    .profile-info p {
      color: #666;
      margin: 5px 0;
      font-family:Arial, Helvetica, sans-serif;
    }

    .details-section {
      margin-bottom: 20px;
    }

    .details-section h2 {
      font-size: 22px;
      color: #333;
      margin-bottom: 10px;
      font-family:Arial, Helvetica, sans-serif;
    }

    .details-section p {
      color: #555;
      font-weight: 700;
      font-family:Arial, Helvetica, sans-serif;
    }

    .back-button {
        display: block;
        text-align: center;
        margin: 40px 0;
      }

      .back-button button {
        background-color: #3182ce;
        color: #ffff;
        border: none;
        margin-bottom: 50px;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      .back-button button:hover {
        background-color: #5da1e0;
      }
  </style>

  <body>
    <%- include('./partials/header.ejs') %> <% if (locals.user) { %>
    <div class="profile-container">
      <div class="profile-header">
        <div class="profile-picture">
          <img
            src="<%= locals.user.profilePicture.url || '/images/default.png' %>"
            alt="Profile Picture"
          />
        </div>
        <div class="profile-info">
          <h1><%= locals.user.firstname %> <%= locals.user.lastname %></h1>
        </div>
      </div>

      <div class="details-section">
        <h2>Details</h2>
        <p>Email: <%= locals.user.email %></p>
        <p>Date of Birth: <%= locals.user.date %></p>
        <p>Task Completed: <%= locals.user.taskCompleted %></p>
        <p>Assigned Area: <%= locals.user.Area %></p>
      </div>
    </div>

    <a href="/collector" class="back-button">
      <button>Back</button>
    </a>
    <%- include('./partials/footer.ejs') %> <% } else { %> <%-
    include('./partials/notuser.ejs') %> <% } %>
  </body>
</html>
